.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border-bottom: 1px solid #eaeaea;
  .left,
  .right {
    display: flex;
    h3,
    p {
      margin: 0;
    }
  }
}
