.searchBlock {
  display: flex;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;
  position: relative;
  align-items: center;
  input {
    border: 0;
    padding: 13px;
    font-size: 16px;
    width: 200px;
  }
  .clear {
    position: absolute;
    right: 4%;
    cursor: pointer;
  }
}
